body {
  width: 750px;
  margin: 0 auto;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(192, 192, 192);
  z-index: 8;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.welcome {
  position: absolute; 
  top: 200px;  
  height: 300px; 
  width:750px;
  z-index: 7;
  background-color: #666;
  color: #f2f2f2;
  border-radius: 10px;

}

#main-menu-container {
  display: flex;
  width: 100%;
  height: 530px;
  /* background-color: brown; */
  margin-top: 10px;
  border-bottom: 1px solid ;
}

#profile {
  width: 80%;
  list-style: none;
  display: none;
}

#tweet-container {
  width: 80%;
  list-style: none;
  display: none;
}

#tweet-container input{
  width: 80%;
  list-style: none;
}

#tweet-container textarea{
  width: 100%;
  list-style: none;
}

#acMenu {
  position: relative;
  /* bottom: 100px; */
  z-index: 5;
  display: none;
}

#acMenu dt{
background-color: rgba(255, 255, 255, 0.8);
display:block;
width:100%;
height:50px;
line-height:50px;
text-align:center;
border:#666 1px solid;
cursor:pointer;
}
#acMenu dd{
background:#f2f2f2;
width:100%;
height:100%;
line-height:50px;
text-align:center;
border:#666 1px solid;
margin: 0;
display:none;
}

.thum {
  padding-left: 10px;
  display: flex;
  list-style: none;
}

.thum img {
  width: 80px;
  height: 80px;
}

#output {
  padding-left: 10px;
  height: 400px;
  overflow: scroll;
}

#output li{
  list-style: none;
  border-bottom: 1px solid;
}